@model WebApplication2.Models.Money

@{
    ViewData["Title"] = "Moneyd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h4>Money Donations </h4>
  
            <form asp-action="Moneyd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="money_id" class="control-label"></label>
                    <input asp-for="money_id" class="form-control" />
                    <span asp-validation-for="money_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="date" class="control-label"></label>
                    <input asp-for="date" class="form-control" />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            @ViewBag.message
        </div>
    </div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
