@model WebApplication2.Models.Disaster

@{
    ViewData["Title"] = "Disasterd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>DISASTER</h1>
<p>Please note that this page is specifically for new disasters!</p>

        <form asp-action="Disasterd">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-fields">
                <div class="form-field">

                    <label asp-for="Disaster_ID" class="control-label"></label>
                    <input asp-for="Disaster_ID" class="form-control" />
                    <span asp-validation-for="Disaster_ID" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="StartDATE" class="control-label"></label>
                    <input asp-for="StartDATE" class="form-control" />
                    <span asp-validation-for="StartDATE" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="EndDATE" class="control-label"></label>
                    <input asp-for="EndDATE" class="form-control" />
                    <span asp-validation-for="EndDATE" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="Aid_Types" class="control-label"></label>
                    <input asp-for="Aid_Types" class="form-control" />
                    <span asp-validation-for="Aid_Types" class="text-danger"></span>

                   

                </div>
                </div>
                <div class="form-buttons">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
</form>
        @ViewBag.message
     
        <div>
            <a asp-action="Index">Back to List</a>
        </div>




