@model WebApplication2.Models.Goods

@{
    ViewData["Title"] = "Goodsd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Goods</h4>
    
   
            <form asp-action="Goodsd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GOODS_ID" class="control-label"></label>
                    <input asp-for="GOODS_ID" class="form-control" />
                    <span asp-validation-for="GOODS_ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DATE" class="control-label"></label>
                    <input asp-for="DATE" class="form-control" />
                    <span asp-validation-for="DATE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Number_of_items" class="control-label"></label>
                    <input asp-for="Number_of_items" class="form-control" />
                    <span asp-validation-for="Number_of_items" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description_of_each_item" class="control-label"></label>
                    <input asp-for="Description_of_each_item" class="form-control" />
                    <span asp-validation-for="Description_of_each_item" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            @ViewBag.message
        </div>
    </div>

   
   
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
